body {
	background-color: black;
	text-align: center;
	color: blueviolet;
}

::selection {
	color: violet;
	background-color: rebeccapurple;
}

p {
	border: 2px solid blueviolet;
	padding: 30px;
}

h1 {
	color: blueviolet;
	font-family: monospace;
	border: 2px solid blueviolet;
}


form {
	color: blueviolet;
	padding: 25px;
}

input[type=text] {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: mediumpurple;
  color: black;
  border-radius: 10px;
}

.message {
	background-color: mediumpurple;
	box-sizing: border-box;
	color: black;
	border-radius: 15px;
}

a:link {
	font-size: 20px;
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}

a:active {
	color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}


 .indim {
            width: 300px;
            height: auto;
            margin: 10px;
        }
 .info {
 	border: 2px solid lightyellow;
 	text-align: justify;
 	color: yellow;
 	padding: none;
 	font-size: 15;
 }

 .back1 {
 	background-image: url(images/night.jpg);
 	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 }

 ::placeholder {
  color: purple;
  opacity: 1;
}

.cb:hover {
	color: green;
}

.button {
  background-color: mediumpurple; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

button:hover {
  color: red;
  background-color: rebeccapurple;
}

.hover-image {
	width: 300px;
    height: auto;
    margin: 10px;
	transition: opacity 0.5s ease;
}

.hover-image:hover {
	opacity: 0.5;
}